
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 400px;
    margin: 0 auto;
    margin-top: 20px;
}

.container h1 {
    color: #333;
    text-align: center;
}

.container label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.container input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.container button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
}

.container button:hover {
    background-color: #555;
}

.container #resultMessage {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}

.container .success {
    color: green;
}

.container .error {
    color: red;
}
